{% extends 'base.html' %}
{% block content %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select a Requester
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for name in distinct_customer_names %}
    <li><a href="/user_detail/{{name[0]}}"> {{name[1]}}</a></li>
  {% endfor %}
  </ul>
</div>
<h1>{{customer_name}}</h1>
<p><b> Email:</b> {{customer_email}}</p>
<p><b>Phone:</b> {{customer_phone}}</p>
<p><a href="/companies/{{customer_company_id}}"><b>Company:</b> {{customer_company_name}}</a></h2>
<p><b>Position:</b> {{customer_job_title}}</p>
<p>{{customer_name}}'s Tickets</p>
<table class="table table-hover">
  <tr>
    <th>Ticket #</th>
    <th>Time Submitted</th>
    <th>Assigned to </th>
    <th>Status</th>
  </tr>
{% for ticket in customer_ticket_list %}
  <tr>
    <td><a href="/tickets/{{ticket[0]}}">{{ticket[0]}}</a></td>
    <td>{{ticket[1]}}</td>
    <td><a href="/agent_detail/{{ticket[3]}}">{{ticket[2]}}</a></td>
    <td>{{ticket[4]}}</td>
   </tr>
  {% endfor %}
</table>
{% endblock %}