<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
    <h1>You've made it to the dashboard</h1>
    <script = "text/javascript">
        data = d3.csv("times_submitted.csv", function(fileContents){
            formatContents(fileContents);
         };

         function formatContents(fileContents){
            return fileContents.map(function(content){ return [content["id"], content["times_submitted"], content["weekday"], content["time"], content["hour"]; });
         }



            contents = data.map(function(content_map){
                return [content_map["id"], content_map["times_submitted"],content_map["weekday"],
                       content_map["time"], content_map["hour"]];
            });
        });

        console.log("I got here!");

        
    </script>
</body>
</html>
