{% extends 'base.html' %}
{% block content %}
<h1>{{company_name}}</h1>
<h2>Location: {{company_location}}</h2>
<h2>Time Zone: {{company_timezone}}</h2>
<h2>Industry: {{company_industry}}</h2>
<h2>Support Tier: {{company_tier}}</h2>
{% if company_pilot == 'Yes' %}
    <h2>Pilot</h2>
{% endif %}
<table class="table table-hover">
  <tr>
    <th>Ticket #</th>
    <th>Time Submitted</th>
    <th>Status</th>
  </tr>
{% for ticket in company_tickets %}
  <tr>
    <td><a href="/tickets/{{ticket[0]}}">{{ticket[0]}}</a></td>
    <td>{{ticket[1]}}</td>
   </tr>
{% endfor %}
</table>
{% endblock %}