 
{% extends 'base.html' %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<div id="cluster" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

<!-- <div class="btn-group btn-group-sm" role="group" aria-label="...">
  <button id= "cluster1" type="button" class="btn btn-default">Cluster1</button>
  <button id= "cluster2" type="button" class="btn btn-default">Cluster2</button>
  <button id="cluster3" type="button" class="btn btn-default">Cluster3</button>
</div>


  <div id= "cluster1-contents"></div>
  <div id= "cluster2-contents"></div>
  <div id= "cluster3-contents"></div> -->


 <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>

 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Cluster1</a></li>
    <li><a href="#tabs-2">Cluster2</a></li>
    <li><a href="#tabs-3">Cluster3</a></li>
  </ul>
  <div id="tabs-1">
   <ul>
    <li> Negative Tickets are: {{data.cluster1.percent_negative}} percent negative</li>
   </ul>
     </div>
  <div id="tabs-2">
    <ul>
    <li> Negative Tickets are: {{data.cluster2.percent_negative}} percent negative</li>
   </ul>
  </div>
  <div id="tabs-3">
    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
  </div>
</div>
 
 <script type="text/javascript">

// $('#cluster1').on("click", populateClusterDiv1());
// $('#cluster2').on("click", populateClusterDiv2());
// $('#cluster3').on("click", populateClusterDiv3());


   
   // function populateClusterDiv1(evt){
   //    // $("#cluster1-contents").empty();
   //    $("#cluster2-contents").empty();
   //    $("#cluster3-contents").empty();
   //    data = $.get("/cluster_details.json", function(data){
   //    output ="<ul><li>Negative tickets are "+data['data']['cluster1']['percent_negative'].toFixed(1)+"% negative</li><li>Positive tickets are "+data['data']['cluster1']['percent_positive'].toFixed(1)+"% positive</li></ul>";
   //    document.getElementById("cluster1-contents").html=output;
   //    });
   //  }

   // function populateClusterDiv2(evt){
   //    $("#cluster1-contents").empty();
   //    // $("#cluster2-contents").empty();
   //    $("#cluster3-contents").empty();
   //    data = $.get("/cluster_details.json", function(data){
   //    output ="<ul><li>Negative tickets are "+data['data']['cluster2']['percent_negative'].toFixed(1)+"% negative</li><li>Positive tickets are "+data['data']['cluster2']['percent_positive'].toFixed(1)+"% positive</li></ul>";
   //    document.getElementById("cluster2-contents").html=output;
   //    });
   //  }

   // function populateClusterDiv3(evt){
   //    $("#cluster1-contents").empty();
   //    $("#cluster2-contents").empty();
   //    // $("#cluster3-contents").empty();
   //    data = $.get("/cluster_details.json", function(data){
   //    output ="<ul><li>Negative tickets are "+data['data']['cluster3']['percent_negative'].toFixed(1)+"% negative</li><li>Positive tickets are "+data['data']['cluster3']['percent_positive'].toFixed(1)+"% positive</li></ul>";
   //    document.getElementById("cluster3-contents").html=output;
   //    });
   //  }


function renderClusterBarGraph(){
 data = $.get("/clustering.json", function(data){
 $(function () {
    $('#cluster').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Sentiment Analysis of Tickets by Cluster'
        },
        xAxis: {
            categories: ['Cluster 1', 'Cluster 2', 'Cluster 3'],
            title: {
                text: 'Customer Clusters'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of Tickets',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
        },
        plotOptions: {
            bar: {
                 dataLabels: {
                    enabled: true
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        }

    },
        series: [{
            name: 'Positive',
            color: '#0cb577',
            data: [data.data['cluster1']['pos'].length,data.data['cluster2']['pos'].length, data.data['cluster3']['pos'].length ]
        }, {
            name: 'Neutral',
            color: "#67E40F",
            data: [data.data['cluster1']['neutral'].length, data.data['cluster2']['neutral'].length, data.data['cluster3']['neutral'].length ]
        }, {
            name: 'Negative',
            color: '#387BB8',
            data: [data.data['cluster1']['neg'].length,data.data['cluster2']['neg'].length, data.data['cluster3']['neg'].length ]
        }]
 });
 
});
 
});
}
// renderReportingTabs();
renderClusterBarGraph();
 </script>

 {% endblock %}