 
{% extends 'base.html' %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/cluster_details.css">
<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<div id="cluster" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>


 <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>

 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Cluster1</a></li>
    <li><a href="#tabs-2">Cluster2</a></li>
    <li><a href="#tabs-3">Cluster3</a></li>
  </ul>
  <div id="tabs-1">
   <ul>
    <li>Positive and Negative Ticket Overview</li>
      <ul>
         <li> Negative Tickets are <b>{{data.cluster1.percent_negative}}%</b> negative on average</li>
         <li> Positive Tickets are <b>{{data.cluster1.percent_positive}}%</b> percent positive on average</li>
          <li> The industry with the most negative tickets is <b>{{data.cluster1.top_neg_industry}}</b></li>
         <li> The industry with the most positive tickets is <b>{{data.cluster1.top_pos_industry}}</b></li>
         <li>The location with the most positive tickets is <b>{{data.cluster1.top_pos_location}}</b></li>
         <li>The location with the most negative tickets is <b>{{data.cluster1.top_neg_location}}</b></li>
      </ul>
    <li>Pilot Overview</li>
      <ul>
        <li><b>{{data.cluster1.percent_negative_pilots}}%</b> of pilots are negative</li>

   </ul>
     </div>
  <div id="tabs-2">
   <ul>
    <li>Postive and Negative Ticket Overview</li>
      <ul>
         <li> Negative Tickets are <b>{{data.cluster2.percent_negative}}%</b> percent negative on average</li>
         <li> Positive Tickets are <b>{{data.cluster2.percent_positive}}%</b> percent positive on average</li>
         <li> The industry with the most negative tickets is <b>{{data.cluster2.top_neg_industry}}</b></li>
         <li> The industry with the most positive tickets is <b>{{data.cluster2.top_pos_industry}}</b></li>
         <li>The location with the most positive tickets is <b>{{data.cluster2.top_pos_location}}</b></li>
         <li>The location with the most negative tickets is <b>{{data.cluster2.top_neg_location}}</b></li>
      </ul>
    <li>Pilot Overview</li>
      <ul>
        <li><b>{{data.cluster2.percent_negative_pilots}}%</b> of pilots are negative</li>

   </ul>
  </div>
  <div id="tabs-3">
    <ul>
    <li>Postive and Negative Ticket Overview</li>
      <ul>
         <li> Negative Tickets are <b>{{data.cluster3.percent_negative}}%</b> percent negative on average</li>
         <li> Positive Tickets are <b>{{data.cluster3.percent_positive}}%</b> percent positive on average</li>
          <li> The industry with the most negative tickets is <b>{{data.cluster3.top_neg_industry}}</b></li>
         <li> The industry with the most positive tickets is <b>{{data.cluster3.top_pos_industry}}</b></li>
         <li>The location with the most positive tickets is <b>{{data.cluster3.top_pos_location}}</b></li>
         <li>The location with the most negative tickets is <b>{{data.cluster3.top_neg_location}}</b></li>
      </ul>
    <li>Pilot Overview</li>
      <ul>
        <li><b>{{data.cluster3.percent_negative_pilots}}%</b> of pilots are negative</li>

   </ul>
  </div>
</div>
 
 <script type="text/javascript">

function renderClusterBarGraph(){
 data = $.get("/clustering.json", function(data){
 $(function () {
    $('#cluster').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Sentiment Analysis of Tickets by Cluster'
        },
        xAxis: {
            categories: ['Cluster 1', 'Cluster 2', 'Cluster 3'],
            title: {
                text: 'Customer Clusters'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of Tickets',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
        },
        plotOptions: {
            bar: {
                 dataLabels: {
                    enabled: true
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        }

    },
        series: [{
            name: 'Positive',
            color: '#0cb577',
            data: [data.data['cluster1']['pos'].length,data.data['cluster2']['pos'].length, data.data['cluster3']['pos'].length ]
        }, {
            name: 'Neutral',
            color: "#67E40F",
            data: [data.data['cluster1']['neutral'].length, data.data['cluster2']['neutral'].length, data.data['cluster3']['neutral'].length ]
        }, {
            name: 'Negative',
            color: '#387BB8',
            data: [data.data['cluster1']['neg'].length,data.data['cluster2']['neg'].length, data.data['cluster3']['neg'].length ]
        }]
   });
 
});
 
});
}
renderClusterBarGraph();
 </script>

 {% endblock %}