{% extends 'base.html' %}
{% block content %}
<head>
    <style>
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }
      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }
      text.axis-workweek {
        fill: #000;
      }
      text.axis-worktime {
        fill: #000;
      }
    </style>
    <meta charset="utf-8" />
    <title>Antwan Wimberly's React Router Tutorial via ES5 and Babel</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/history/umd/History.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

  </head>
  <body>
    <div id="chart"></div>
    <div id="dataset-picker">
      <!-- <form id="ticket-ranges" method="GET" action="/dashboard_data"> -->
      <form id="ticket-ranges">
      <select id ="date-range"class="form-control" name="date-range" >
          <option>09/27/2015 00:00:00-10/3/2015 11:59:59</option>
          <option>10/4/2015 00:00:00-10/10/2015 11:59:59</option>
          <option>10/11/2015 00:00:00-10/17/2015 11:59:59</option>
          <option>10/18/2015 00:00:00-10/24/2015 11:59:59</option>
          <option>10/25/2015 00:00:00-10/31/2015 11:59:59</option>
      </select>
      <button type="submit" class="btn btn-default">Select</button>
    </form>
    <script>
      function submitForm(e){
        e.preventDefault();
        var input = $("date-range").val();
        refreshAllCharts(input);
      }
    $("#ticket-ranges").on("submit", submitForm);
   </script>
    </div>
   <div id="supportchart"></div>
   <div id="industrychart"></div>
    <div id="response_regression" style="min-width: 310px; height: 400px; margin: 10 auto"></div>
    <div id="agent_regression" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

   
<script>
  function refreshAllCharts(input){
        //Empty out divs wih charts in them in jquery 
        //Call the functions that render all the charts again 
        $("#chart").empty();
        $("#supportchart").empty();
        $("#industrychart").empty();
        $("#response_regression").empty()
        $("#agent_regression").empty()
        heatmapChart();
        renderSupportTierChart();
        renderIndustryChart();
        renderResponseRegression();
        renderAgentTouchesRegression(); 
      }
      function heatmapChart() {

          var margin = { top: 50, right: 0, bottom: 100, left: 30 },
          width = 960 - margin.left - margin.right,
          height = 430 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 24),
          legendElementWidth = gridSize*2,
          buckets = 9,
          colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          days = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
          times = ["1a", "2a", "3a", "4a", "5a", "6a", "7a", "8a", "9a", "10a", "11a", "12a", "1p", "2p", "3p", "4p", "5p", "6p", "7p", "8p", "9p", "10p", "11p", "12p"];
          datasets = ["9/27/2015-10/3/2015", "10/4/2015-10/10/2015", "10/11/2015-10/17/2015", 
          "10/18/2015-10/24/2015", "10/25/2015-10/31/2015"];
      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });
      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });
        json_route = "/dashboard_data?" + $('#ticket-ranges').serialize();
        d3.json(json_route,
      
        function(error, data) {
          var colorScale = d3.scale.quantile()
              .domain([0, buckets - 1, d3.max(data, function (d) { return d.value; })])
              .range(colors);
          var cards = svg.selectAll(".hour")
              .data(data.data, function(d) {return d.day+':'+d.hour;});
          cards.append("title");
          cards.enter().append("rect")
              .attr("x", function(d) { return (d.hour) * gridSize; })
              .attr("y", function(d) { return (d.day) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "hour bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);
          cards.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.value); });
          cards.select("title").text(function(d) { return d.value; });
          
          cards.exit().remove();
          var legend = svg.selectAll(".legend")
              .data([0].concat(colorScale.quantiles()), function(d) { return d; });
          legend.enter().append("g")
              .attr("class", "legend");
          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });
          legend.append("text")
            .attr("class", "mono")
            .text(function(d) { return "≥ " + Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);
          legend.exit().remove();
        });  
      };
      heatmapChart();


    

    function renderSupportTierChart() {
      //These lines set up the pie chart with data on tickets from different customer tiers

        var width = 960,
        height = 500,
        radius = Math.min(width, height) / 2;
        
        var color = d3.scale.ordinal()
        .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);
        
        var arc = d3.svg.arc()
        .outerRadius(radius - 10)
        .innerRadius(0);
        var pie = d3.layout.pie()
            .sort(null)
            .value(function(d) { return d.count; });
        var svg2 = d3.select("#supportchart").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        json_route = "/tickets_by_tier.json?" + $('#ticket-ranges').serialize();
        
        // $.get('/tickets_by_tier.json', d3.json('/tickets_by_tier.json', function(error, data) {
        d3.json(json_route, 

           function(error, data) {
                
              

               var g = svg2.selectAll(".arc")
                      .data(pie(data.data))
                      .enter().append("g")
                      .attr("class", "arc");
                  g.append("path")
                      .attr("d", arc)
                      .style("fill", function(d) { return color(d.data.support_tier); });
                  g.append("text")
                      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
                      .attr("dy", ".35em")
                      .style("text-anchor", "middle")
                      .text(function(d) { return d.data.support_tier; });
        });

    }
    
  renderSupportTierChart();

  function renderIndustryChart() {
      //These lines set up the pie chart with data on tickets from different customer tiers
        var width = 960,
        height = 500,
        radius = Math.min(width, height) / 2;
        
        var color = d3.scale.ordinal()
        .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);
        
        var arc = d3.svg.arc()
        .outerRadius(radius - 10)
        .innerRadius(0);
        var pie = d3.layout.pie()
            .sort(null)
            .value(function(d) { return d.count; });
        var svg3 = d3.select("#industrychart").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        json_route = "/tickets_by_industry.json?" + $('#ticket-ranges').serialize();
        console.log(json_route);
        // $.get('/tickets_by_tier.json', d3.json('/tickets_by_tier.json', function(error, data) {
        d3.json(json_route, 

           function(error, data) {
                console.log("industry chart"+ data);
              
               var g = svg3.selectAll(".arc")
                      .data(pie(data.data))
                      .enter().append("g")
                      .attr("class", "arc");
                  g.append("path")
                      .attr("d", arc)
                      .style("fill", function(d) { return color(d.data.industry); });
                  g.append("text")
                      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
                      .attr("dy", ".35em")
                      .style("text-anchor", "middle")
                      .text(function(d) { return d.data.industry; });
        });

    }

    renderIndustryChart();


  function renderResponseRegression(){
    // json_route = "/dashboard_response_time.json?"+ $('#ticket-ranges').serialize();
    regression_data = $.get("/dashboard_response_time.json?"+ $('#ticket-ranges').serialize(), function(data){
      $(function () {
        console.log("DATAAAAAA: ");
        console.log(data.data['line_points']);
    $('#response_regression').highcharts({
        xAxis: {
            min: 0,
            max: 24
        },
        yAxis: {
            min: 0
        },
        title: {
            text: 'Time of Day and First Response Time'
        },
        series: [{
            type: 'line',
            name: 'Ticket Response Time',
            // data: [[0, 1.11], [5, 4.51]],
            data: data.data['line_points'],


            marker: {
                enabled: false
            },
            states: {
                hover: {
                    lineWidth: 0
                }
            },
            enableMouseTracking: false
           }, {
            type: 'scatter',
            name: 'Observations',
            data: data.data['scatter_points'],
            marker: {
                radius: 4
            }
           
        }]
    });

    });
    // line_data = regression_data.line_points;
    console.log(typeof(regression_data['data']));

  });
}

  renderResponseRegression();   
 
  function renderAgentTouchesRegression(){
    // json_route = "/dashboard_response_time.json?"+ $('#ticket-ranges').serialize();
    regression_data = $.get("/dashboard_agent_touches.json?"+ $('#ticket-ranges').serialize(), function(data){
      $(function () {
        console.log("DATAAAAAA: ");
        console.log(data.data['line_points']);
        $('#agent_regression').highcharts({
            xAxis: {
                min: 0,
                max: 200
            },
        yAxis: {
            name: 'Resolution Time (in hours)',
            min: -10
        },
        title: {
            text: 'Customer Interactions and Resolution Time'
        },
        series: [{
            type: 'line',
            // data: [[0, 1.11], [5, 4.51]],
            data: data.data['line_points'],


            marker: {
                enabled: false
            },
            states: {
                hover: {
                    lineWidth: 0
                }
            },
            enableMouseTracking: false
           }, {
            type: 'scatter',
            name: 'Observations',
            data: data.data['scatter_points'],
            marker: {
                radius: 4
            }
           
        }]
    });

    });
    // line_data = regression_data.line_points;
    console.log(typeof(regression_data['data']));

  });


}

renderAgentTouchesRegression();
</script>

{% endblock %}