 
{% extends 'base.html' %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="cluster" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
<div id="scatterplot" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

 <script type="text/javascript">
 function renderScatterplot(){
    data = $.get("/clustering", function(data){
        console.log(data.data['cluster_tickets']['0'])
     $(function () {
        $('#scatterplot').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Customers by Cluster'
            },
            // subtitle: {
            //     text: 'Source: Heinz  2003'
            // },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Percent Positive'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Percent Negative'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x} cm, {point.y} kg'
                    }
                }
            },
            series: [{
                name: 'Cluster 1',
                color: 'rgba(223, 83, 83, .5)',
                data: data.data['cluster_tickets']['0']


            }, {
                name: 'Cluster 2',
                color: 'rgba(119, 152, 191, .5)',
                data: data.data['cluster_tickets']['1']
            },{
                name: 'Cluster 3',
                color: 'rgba(120, 152, 191, .5)',
                data: data.data['cluster_tickets']['2'] 
            }, { 
                name: 'Cluster 4',
                color: 'rgba(120, 158, 191, .5)',
                data: data.data['cluster_tickets']['3'] 
            }]
        });
    });
 });
}

function renderClusterBarGraph(){
 data = $.get("/clustering", function(data){
 $(function () {
    console.log("GOT HERE!!!!")
    console.log(data.data['cluster1'])
    $('#cluster').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Sentiment Analysis of Tickets by Cluster'
        },
        // subtitle: {
        //     text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
        // },
        xAxis: {
            categories: ['Cluster 1', 'Cluster 2', 'Cluster 3', 'Cluster 4'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of Tickets)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Positive',
            data: [data.data['cluster_labels']['cluster1']['pos'],data.data['cluster_labels']['cluster2']['pos'], data.data['cluster_labels']['cluster3']['pos'], data.data['cluster_labels']['cluster4']['pos'] ]
        }, {
            name: 'Neutral',
            data: [data.data['cluster_labels']['cluster1']['neutral'],data.data['cluster_labels']['cluster2']['neutral'], data.data['cluster_labels']['cluster3']['neutral'], data.data['cluster_labels']['cluster4']['neutral']]
        }, {
            name: 'Negative',
            data: [data.data['cluster_labels']['cluster1']['neg'],data.data['cluster_labels']['cluster2']['neg'], data.data['cluster_labels']['cluster3']['neg'], data.data['cluster_labels']['cluster4']['neg'] ]
        }]
    });
 });
 
});
}
renderScatterplot();
renderClusterBarGraph();
 </script>

 {% endblock %}