{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div id ="ticket_data">
<table class="table table-hover">
  <tr>
    <th>Ticket #</th>
    <th>Time Submitted</th>
    <th>Assigned to </th>
    <th>Status</th>
  </tr>
  {% for ticket in ticket_list %}
   <tr>
  <td><a href="/tickets/{{ticket[0]}}">{{ticket[0]}}</a></td>
    <td>{{ticket[1]}}</td>
    <!-- <td><a href="/agent_detail/{{ticket[3]}}">{{ticket[2]}}</a></td> -->
    <td><a id="agent-view" href="/agent_detail/{{ticket[2]}}">{{ticket[2]}}</a></td>
   </tr>
  {% endfor %}
</table>
</div>
</div>
<script>

function showTicketDashboard(evt){
  $('#ticket_data').empty();
  $.get('/ticket_dashboard');
  $('#ticket_data').load('dashboard.html');
}
$('#ticket-dashboard').on('click', showTicketDashboard);

function showCustomerDashboard(evt){
  $('#ticket_data').empty();
  $.get('/customer_dashboard');
  $('#ticket_data').load('customer_dashboard.html');
}
$('#customer-dashboard').on('click', showCustomerDashboard);

function showTicketView(evt){
  $('#ticket_data').empty();
  $.get('/');
  $('#ticket_data').load('dashboard.html');
}
$('#ticket-view').on('click', showTicketView);


</script>
{% endblock %} 
