<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Tickets view</title>
    <script src="https://fb.me/react-0.14.2.js"></script>
    <script src="https://fb.me/react-dom-0.14.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>
<body>
    <h1>You've made it to the list of all the tickets</h1>
    <div id="example"></div>
<script type="text/babel">

      var ticketTable = React.createClass({
          render: function() {
            return (
              <table id="tickets_table">
              <tr>
              <td>Ticket id</td> 
              <td>

              </table>
              );
           }
       });

      setInterval(function() {
         ReactDOM.render(
             <HelloWorld date={new Date()} />,
                document.getElementById('example')
         );
      }, 500);
</body>
</html>